@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@layer base {
  * {
    @apply border-neutral-300;
  }
  body {
    @apply bg-neutral-100 text-neutral-900 antialiased;
  }

  /* Optimisations de performance */
  img {
    content-visibility: auto;
  }

  /* Optimisation pour mobile */
  @media (max-width: 1024px) {
    * {
      -webkit-tap-highlight-color: transparent;
    }
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Performance optimizations */
  .gpu-accelerate {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
